body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  } 
   
  .ForgotPassword-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 80px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .ForgotPassword-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #000000;
    font-family: Judson;
  }
  
  .ForgotPassword-subtitle {
    font-size: 16px;
    margin-bottom: 40px;
    color: #000000;
  }
  
  .ForgotPassword-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0
  }

  #email{
    margin-bottom: 10px;
  } 

  .ForgotPassword-email {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid #30CD9E;
    position: relative;
    
  }
  
  .ForgotPassword-password {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid #30CD9E;
    position: relative;
  }
  
  .icon {
    margin-right: 10px;
    color: #29a785;
  }

  .ForgotPassword-label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
  } 
  .input-field:focus ~.label,
  .input-field:valid ~.label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    color: var(--black-color);
    padding: 0 10px;
    z-index: 1;
  }
  
  .options-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    color: #666;
  }
 
  .OTP-button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #29a785;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .ForgotPassword-email-icon{
  position: relative;
  left: 12px;
  top: 50%;
  font-size: 20px;
  color: #218c6e;
  z-index: 2;
  background-color: white;
  margin-right: 15px;
  } 

  
  .input:focus ~ .ForgotPassword-email-icon,
  .input:valid ~ .ForgotPassword-email-icon { 
  top: -20px;
  font-size: 14px;
  background-color: white;
  padding: 0 5px; 
}
 
.ForgotPassword-label{
  left: 50px;
}